Online library MVC/Connected Services/ServiceReference1/OneLibrary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OneLibrary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55790/OneLibrary.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55790/OneLibrary.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55790/OneLibrary.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineLibraryClass" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOneLibrary_AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_AddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_UpdateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItem" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_UpdateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_DeleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_DeleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_BorrowItem_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrowItem" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_BorrowItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrowItemResponse" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_ReturnItem_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnItem" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_ReturnItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnItemResponse" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_getData_InputMessage">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="IOneLibrary_getData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IOneLibrary">
    <wsdl:operation name="AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneLibrary/AddItem" message="tns:IOneLibrary_AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneLibrary/AddItemResponse" message="tns:IOneLibrary_AddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneLibrary/UpdateItem" message="tns:IOneLibrary_UpdateItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneLibrary/UpdateItemResponse" message="tns:IOneLibrary_UpdateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneLibrary/DeleteItem" message="tns:IOneLibrary_DeleteItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneLibrary/DeleteItemResponse" message="tns:IOneLibrary_DeleteItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrowItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneLibrary/BorrowItem" message="tns:IOneLibrary_BorrowItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneLibrary/BorrowItemResponse" message="tns:IOneLibrary_BorrowItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneLibrary/ReturnItem" message="tns:IOneLibrary_ReturnItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneLibrary/ReturnItemResponse" message="tns:IOneLibrary_ReturnItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input wsaw:Action="http://tempuri.org/IOneLibrary/getData" message="tns:IOneLibrary_getData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOneLibrary/getDataResponse" message="tns:IOneLibrary_getData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOneLibrary" type="tns:IOneLibrary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/IOneLibrary/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap:operation soapAction="http://tempuri.org/IOneLibrary/UpdateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://tempuri.org/IOneLibrary/DeleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowItem">
      <soap:operation soapAction="http://tempuri.org/IOneLibrary/BorrowItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnItem">
      <soap:operation soapAction="http://tempuri.org/IOneLibrary/ReturnItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://tempuri.org/IOneLibrary/getData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OneLibrary">
    <wsdl:port name="BasicHttpBinding_IOneLibrary" binding="tns:BasicHttpBinding_IOneLibrary">
      <soap:address location="http://localhost:55790/OneLibrary.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>